img {
    width: 100px;
}

h1 {
    font-size: 30px;
}

.chef, logo {
    font-size: 30px;
    float: left;
    padding-left: 10px;
}

.menuItem {
    padding-bottom: 15px;
}

#headerNav {
    padding: 10px;
}